__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.pytest_cache/
.venv/
venv/
.DS_Store
.ipynb_checkpoints/
# outputs written by the reproduction scripts
reproduce/figures/*.pdf
reproduce/wrap_fid/*.pdf
reproduce/wrap_fid/*.png
reproduce/wrap_fid/*.tex
